# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore logs and system files
logs/
*.log
*.DS_Store

# Ignore IDE/editor files
.vscode/
.idea/
